.Mobile .footer .footerone{
    padding:15vh 15vw;
    background:#2E4CA0;
    text-align: center;
    font-size:7vw;
    display:grid;
}

.Mobile .footer .footerone .text{
    color:#fff;
    font-size:7vw;
    font-weight:bold;
}

.Mobile .footer .footerone .button button{
    background:#fff;
    color:#2E4CA0;
    border-radius:15px;
    padding:2vh 5vw;
    font-size:5.5vw;
    font-weight:bold;
    border:none;
    outline:none;
    margin: 15px;
}

.Mobile .footer .footertwo{
    display:flex;
    padding:2vh 15vw;
}

.Mobile .footer .footertwo .list{
    font-size:3.5vw;
    padding-right:1vw;
}

.Mobile .footer .footertwo .list .head{
    font-size:4vw;
    font-weight:bold;
    color:#000;
    margin-bottom:1vh;
}

.Mobile .footer .footertwo .list  .social img{
    margin-right:3vw;
}

.Mobile .footer .footertwo .list .content span{
    color:#2E4CA0;
    display:block;
    margin-bottom:2vh;
}

.Mobile .footer .footertwo .list .subhead{
    margin-bottom:2vh;
}

.Mobile .footer .lastfooter{
   display: flex;
}

.Mobile .footer .footertwo .lastfooter .logo{
    text-align: right;
    width: 25vw;                   
}

.Mobile .footer .footerthree{
    background:#1C242F;
    color:#fff;
    padding:2vh 0;
    text-align:center;
}

@media only screen and (min-width: 768px){
    .Mobile{
        display: none;
    }
} 