.synergyTv .contentsingleone{
    padding:15vh 15vw;
}

.synergyTv .contentsingleone .head{
    text-align:left!important;
    padding-left:1.5vw;
    color:#21409A;
    font-size:2vw;
    font-weight:bold;
}

.synergyTv .videomain{
    text-align:center;
    padding-bottom:5vh;
}

.synergyTv .videomain iframe{
    width:40vw;
    height:50vh;
}