.Mobile{
    justify-content: center;  
}

.Mobile .tabContainerInvestSteps{
    text-align:center;
    background:#fff; 
}

.Mobile .tabContainerInvestSteps .head{
    color:#21409A;
    font-size:5vw;
    font-weight:bold;
    text-align:center;
    margin: 40px;
}

.Mobile .tabContainerInvestSteps .tab{
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    margin: 35px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.Mobile .tabContainerInvestSteps .tab .number{
    font-size:4vw;
    font-weight:bold;
    color:#000;
    margin-bottom:0.1vh;
    margin-top: 20px;
}

.Mobile .tabContainerInvestSteps .tab .title{
    font-weight:bold;
    font-size:4vw;
    padding:2vh 0;
    color:#21409A;
}

.Mobile .tabContainerInvestSteps .tab p{
    color:#000;
    font-size:4vw;
}


@media only screen and (min-width: 768px){
    .Mobile{
        display: none;
    }
} 