.howitwork .howitworkhome .contentdoubleone{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:15vh 15vw; 
}

.howitwork .howitworkhome .contentdoubleone .text{
    padding-right:5vw;
    text-align:left;
}

.howitwork .howitworkhome .contentdoubleone .text .head{
    font-size:3vw;
    color:#162E73;
    font-weight:bold;
}


.howitwork .howitworkhome .contentdoubleone .text ul{
    margin:3vh 2vw;
}

.howitwork .howitworkhome .contentdoubleone .text ul li{
    font-size:1.5vw;
    color:#000;
    margin-top:2vh;
}

.howitwork .howitworkhome .contentdoubleone .image{
    text-align:right;
}

.howitwork .howitworkhome .contentdoubleone .image img{
    height:50vh;
}
